@media screen and (max-width: 991px) {
    /* стили для больших планшетов - начало */
    .left-side {
        width: 50%;
    }   
    .right-side {
        width: 50%;
    }
    .last-top {
        justify-content: center;
    }

}
    
    @media screen and (max-width: 767px) {
    /* стили для средних планшетов - начало */
    .first-top {
        flex-direction: column;
    }
    .left-side {
        width: 90%;
        justify-content: space-around;        
    }   
    .right-side {
        width: 90%;
        justify-content: space-around;
    
    }   
}
    
    @media screen and (max-width: 479px) {
    /* стили для телефонов - начало */
    .left-side {
        flex-direction: column-reverse;
        align-items: center;
        
    }   
    .right-side {
        flex-direction: column;
        align-items: center;
    }
}



*,
*:before, 
*:after {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    display: flex;
}


/* header
=================================*/

.header {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content:  start;
    top: 0px;
    width: 70px;
    height: 100vh;
    background: linear-gradient(#FA7559, #FD5272);
}

.logo {
    width: 100%;
    min-height: 70px;
    font-size: 50px;
    text-align: center;
    color: #FA7559;
    background: #ffffff;
    box-shadow:  0 1px  3px 3px rgba(0, 0, 0, .2);
}

.menu {
    width: 100%;
    height: 100vh;
}

a {
    display: flex;
    align-items: center;
    margin: 40px auto 0;   
    text-decoration: none;
    color: #ffffff;
    font-size: 10px;
}


.home::before {
    content: ''; 
    position: absolute;
    display: none;
    top: 90px;
    left: 69px; 
    border: 10px solid transparent; 
    border-left: 10px solid #FA7559;
}

.stactics::before {
    content: ''; 
    position: absolute;
    display: none;
    top: 150px;
    left: 69px; 
    border: 10px solid transparent; 
    border-left: 10px solid #FA7559;
}

.users::before {
    content: ''; 
    position: absolute;
    display: none;  
    top: 210px;
    left: 69px; 
    border: 10px solid transparent; 
    border-left: 10px solid #FA7559;
}

.settings::before {
    content: ''; 
    position: absolute;
    display: none;
    top: 270px;
    left: 69px; 
    border: 10px solid transparent; 
    border-left: 10px solid #FA7559;
}

.quires::before {
    content: ''; 
    position: absolute;
    display: none;
    top: 330px;
    left: 69px; 
    border: 10px solid transparent; 
    border-left: 10px solid #FA7559;
}

.home {
    display: flex;
    width: 100%;
    min-height: 50px;
    text-align: center;
    background: url(../dist/img/header-pic/home.png) no-repeat center;
}

.stactics {
    display: flex;
    width: 100%;
    min-height: 50px;
    text-align: center;
    background: url(../dist/img/header-pic/stactics.png) no-repeat center;
}

.users {
    display: flex;
    width: 100%;
    min-height: 50px;
    text-align: center;
    background: url(../dist/img/header-pic/users.png) no-repeat center;
}

.settings {
    display: flex;
    width: 100%;
    min-height: 50px;
    text-align: center;
    background: url(../dist/img/header-pic/settings.png) no-repeat center;
}

.quires {
    display: flex;
    width: 100%;
    min-height: 50px;
    text-align: center;
    background: url(../dist/img/header-pic/quires.png) no-repeat center;
}

.output {
    justify-self: start; 
    width: 100%;
    min-height: 50px;
    background: url(../dist/img/header-pic/output.png) no-repeat center;
}


/* main
=================================*/

.main {
    width: 95%;
    background: linear-gradient(#255559, #105152);
}

.top {
    width: 100%;
    background: #ffffff;
}

.first-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;  
    border-bottom: 1px solid lightgrey;
}

.left-side {
    display: flex;
    justify-content: space-between;
    width: 50%;
   
}

.left-buttons {
    width: 210px;
    display: flex;

}


.search {
    display: flex;
    width: 40%;
    max-height: 35px;
    padding-top: 20px;

}

.search input {
    width: 100%;
    min-height: 30px;
    border-radius: 50px;
    border: 1px solid #BFBFBF;
    font-size: 12px;
    color: #C8C8C8;
    background-position: right;
    background-image: url(../dist/img/main-pic/top/zoom.png);
    background-repeat: no-repeat;
}

button {
    width: 70px;
    height: 70px;
    background: #ffffff;
    border: none;
}

.more {
    position: relative;
    left: 10px;
    width: 36px;
    height: 18px;
    border-radius: 50px;
    background: #FA7559;
}

.point {
    position: relative;
    top: 6px;
    left: 15px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffffff; 
}

.point::before {
    content: '';
    position: absolute;
    left: -10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffffff; 
}

.point::after {
    content: '';
    position: absolute;
    left: 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffffff; 
}

.left-buttons button:nth-child(2) {
    background: url(../dist/img/main-pic/top/folder.png)  no-repeat center;
}

.left-buttons button:nth-child(3) {
    background: url(../dist/img/main-pic/top/settings-menu.png) no-repeat center;
}


.right-side {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.right-buttons {
    display: flex;
    width: 210px;
}
.right-buttons button:nth-child(1) {
    background: url(../dist/img/main-pic/top/upload.png) no-repeat center;
}

.right-buttons button:nth-child(2) {
    background: url(../dist/img/main-pic/top/envelope.png) no-repeat center;
}

.right-buttons button:nth-child(3) {
    background: url(../dist/img/main-pic/top/planet.png) no-repeat center;
}

.avatar {
    display: flex;
    width: 50%;
    text-align: center;
}

.avatar h2 {
    font-size: 14px;
    background: linear-gradient(to right, #FD5272, #FB7858);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #FA7559;
}

.avatar h4 {
    font-size: 10px;
    color: #BFBFBF;
}
.avatar .point {
    background: #BFBFBF;
    margin: 25px auto 0;
    left: 0;

}

.avatar .point::before {
    background: #BFBFBF;
    left: 0;
    top: -10px;
}

.avatar .point::after {
    background: #BFBFBF;
    left: 0;
    top: 10px;
}

.avatar button {
    background: url(../dist/img/main-pic/top/avatar.png) no-repeat center;
}


/* .last-top
==========================*/


.last-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100px;
    height: 100px;
    margin: 15px 15px 15px 0;
    text-align: center;
}

.price h2 {
    font-size: 20px;
    background: linear-gradient(to right, #FD5272, #FB7858);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #FA7559;
}

.price h4 {
    font-size: 12px;
}

.price:nth-child(8) {
    h2 {
        font-size: 12px;
    }
} 

.price h5 {
    font-size: 12px;
    color: #C8C8C8;
}
/* bottom
===================*/


.bottom {
    display: flex;
    flex-wrap: wrap;
}

.content {
    width: 75%;
}







.top-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    display: flex;

}

.bottom-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.left-bottom-content {
    width: 50%;
}

.right-bottom-content {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.square {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%; 
}

.graphs {
    width: 75%;
    min-height: calc(100px + 10vw);
    
    background: darkgreen;
}

.feed {
    width: 25%;
    min-height: calc(100px + 10vw);
    background: green;
    
}
.income {
    width: 100%;
    min-height: 100%;
    background: rgb(33, 204, 33);
}
.task {
    
    width: 100%;
    min-height: calc(100px + 10vw);
    background: rgb(15, 43, 15);
}
.progress {
   
    width: 50%;
    min-height: calc(100px + 10vw);
    background: rgb(71, 248, 71);
}
.shipments {
    
    width: 50%;
    min-height: calc(100px + 10vw);
    background: rgb(8, 117, 8);
}




/* aside
============================*/

.aside {
    width: 25%;
    background: #ffffff;
}

.top-aside {
    display: flex;
    width: 100%;
    height: 50px; 
    background: linear-gradient(to right, #FD5A6C, #FB7858);
    
}

.top-aside div {
    height: 100%;
    width: 50px;
    flex-grow: 1;
    margin:  0 1px;
    background: transparent;
}

.top-aside div:nth-child(1) {
    background: url(../dist/img/main-pic/bottom/aside/top-aside/users.png) no-repeat center;
}

.top-aside div:nth-child(2) {
    background: url(../dist/img/main-pic/bottom/aside/top-aside/chat.png) no-repeat center;
}

.top-aside div:nth-child(3) {
    background: url(../dist/img/main-pic/bottom/aside/top-aside/like.png) no-repeat center;
}

.bottom-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.people {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.people h4 {
    font-size: 13px;
}

.people h5 {
    font-size: 10px;
    color: #C8C8C8;
}

.line {
    width: 85%;
    height: 2px;
    margin: 15px auto;
    background: #BFBFBF;
}

.face {
    width: 40px;
    height: 40px;
}

.people:nth-child(1) {
    padding-top: 15px;
    .face {
        background: url(../dist/img/main-pic/bottom/aside/top-aside/lawrence.png) no-repeat center;
    }
}

.people:nth-child(3) {
    .face {
        background: url(../dist/img/main-pic/bottom/aside/top-aside/pitt.png) no-repeat center;
    }
}

.people:nth-child(5) {
    .face {
        background: url(../dist/img/main-pic/bottom/aside/top-aside/dicaprio.png) no-repeat center;
    }
}

.people:nth-child(7) {
    .face {
        background: url(../dist/img/main-pic/bottom/aside/top-aside/eisenberg.png) no-repeat center;
    }
}

.people:nth-child(9) {
    .face {
        background: url(../dist/img/main-pic/bottom/aside/top-aside/stewart.png) no-repeat center;
    }
}

.people:nth-child(11) {
    .face {
        background: url(../dist/img/main-pic/bottom/aside/top-aside/affleck.png) no-repeat center;
    }
}

.name {
    width: 55%;
}

.chat {
    width: 40px;
    height: 40px;
    background: url(../dist/img/main-pic/bottom/aside/top-aside/dark-chat.png) no-repeat center;

}

.zoom {
    width: 35px;
    height: 35px;
    background: url(../dist/img/main-pic/bottom/aside/top-aside/zoom.png) no-repeat center;
}

.edit {
    width: 35px;
    height: 35px;
    background: url(../dist/img/main-pic/bottom/aside/top-aside/edit.png) no-repeat center;
}
.search-aside {
    display: flex;
    width: 90%;
    max-height: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.search-aside input {
    width: 100%;
    min-height: 30px;
    border: none;
    font-size: 10px;
    color: #C8C8C8;
    border-bottom: 1px solid #BFBFBF;
    background-image: transparent;
}





/* footer
===================*/

footer {
    width: 100%;
    height: 250px;

}
footer h4 {
    font-size: 14px;
    text-align: center;
    margin: 25px auto;
    
}
.link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.links {
    margin: 0.75vw;
    width: 55px;
    height: 55px;
    border-radius: 20px;
    opacity: .8;
}

.links:nth-child(1) {
    background: url(../dist/img/main-pic/bottom/aside/footer/rdio.png) no-repeat center;
    background-color: #755DBB;
}

.links:nth-child(2) {
    background: url(../dist/img/main-pic/bottom/aside/footer/css-3.png) no-repeat center;
    background-color: #4FD7C4;
}

.links:nth-child(3) {
    background: url(../dist/img/main-pic/bottom/aside/footer/deviantart.png) no-repeat center;
    background-color: #D79689;
}

.links:nth-child(4) {
    background: url(../dist/img/main-pic/bottom/aside/footer/xing.png) no-repeat center;
    background-color: #7D62C8;
}

.links:nth-child(5) {
    background: url(../dist/img/main-pic/bottom/aside/footer/vimeo.png) no-repeat center;
    background-color: #42A7E3;
}

.links:nth-child(6) {
    background: url(../dist/img/main-pic/bottom/aside/footer/vk.png) no-repeat center;
    background-color: #F9BE87;
}